.loginPage {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 300px 0;
}

.logingooglebtn {
    height: 25px;
    margin: 25px;
    background-color: white; 

}

.logingooglebtn:hover {
    border-color: #f00946;
}